<app-slideshow></app-slideshow>
<div class="home-page">
  <section class="collections-section">
    <h2>Our Products</h2>
    <div class="collections-grid">
      <div *ngFor="let product of products" class="collection-item" [routerLink]="['/product', product.id]">
        <img [src]="product.image" alt="{{ product.name }}" />
        <h3>{{ product.title }}</h3>
        <!-- <p>{{ product.description }}</p> -->
        <p>€{{ product.price }}</p>
      </div>
    </div>
  </section>
</div>

<div class="testimonial-section">
  <h2>Testimonials</h2>
  <div class="testimonial-container">
    <div class="testimonial" *ngFor="let testimonial of testimonials">
      <p class="quote">“{{ testimonial.message }}”</p>
      <p class="author">– {{ testimonial.author }}</p>
    </div>
  </div>
</div>

<div class="trusted-brands-section">
  <h2>Trusted Brand</h2>
  <div class="brands-container">
    <img
      *ngFor="let brand of brands"
      [src]="brand.logo"
      [alt]="brand.name"
      class="brand-logo"
    />
  </div>
</div>



