<div class="about-us-container">
  <div class="about-us">
    <h1>About Us</h1>
    <p>
      Welcome to <strong>EcomWebsite</strong>! We are a dedicated team passionate about providing you with a seamless shopping experience, offering high-quality products and exceptional customer service. Our goal is to make online shopping easy, enjoyable, and reliable.
    </p>
    <p>
      At <strong>EcomWebsite</strong>, we carefully select our products to ensure quality, value, and satisfaction for each customer. We believe in transparency, trust, and building lasting relationships with our community. Thank you for choosing us as your shopping destination!
    </p>

    <img src="assets/Logos/logo.png"  />
  </div>
</div>
